@{

}

 <style>
    .gallery img {
        object-fit: cover;
        border-radius: 5px;
        float: left;
        height: auto;
        max-height: 350px;
        border: 2px solid #fff;
        -webkit-transition: -webkit-transform .15s ease;
        -moz-transition: -moz-transform .15s ease;
        -o-transition: -o-transform .15s ease;
        -ms-transition: -ms-transform .15s ease;
        transition: transform .15s ease;
        position: relative;
    }
 </style>

<section id="projects" class="projects">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>Exclusive Events by Aunty 'B' Compere</h2>
            <p>
                Feed your eyes with some goodness as you slide through our works. Let the pictures do the talking.
            </p>
        </div>

        <div class="gallery row">
            <img class="lightboxed col-md-4 col-sm-6 col-6"
                 rel="group1"
                 src="~/img/projects/1.jpg"
                 data-link="img/projects/1.jpg"
                 alt=""
                 data-caption="Image 1" />

            <img class="lightboxed col-md-4 col-sm-6 col-6"
                 rel="group1"
                 src="~/img/projects/2.jpg"
                 data-link="img/projects/2.jpg"
                 alt=""
                 data-caption="Image 2" />

            <img class="lightboxed col-md-4 col-sm-6 col-6"
                 rel="group1"
                 src="~/img/projects/3.jpg"
                 data-link="img/projects/3.jpg"
                 alt=""
                 data-caption="Image 3" />

            <img class="lightboxed col-md-4 col-sm-6 col-6"
                 rel="group1"
                 src="~/img/projects/4.jpg"
                 data-link="img/projects/4.jpg"
                 alt=""
                 data-caption="Image 4" />

            <img class="lightboxed col-md-4 col-sm-6 col-6"
                 rel="group1"
                 src="~/img/projects/5.jpg"
                 data-link="img/projects/5.jpg"
                 alt=""
                 data-caption="Image 5" />

            <img class="lightboxed col-md-4 col-sm-6 col-6"
                 rel="group1"
                 src="~/img/projects/6.jpg"
                 data-link="img/projects/6.jpg"
                 alt=""
                 data-caption="Image 6" />

            <img class="lightboxed col-md-4 col-sm-6 col-6"
                 rel="group1"
                 src="~/img/projects/7.jpg"
                 data-link="img/projects/7.jpg"
                 alt=""
                 data-caption="Image 7" />

            <img class="lightboxed col-md-4 col-sm-6 col-6"
                 rel="group1"
                 src="~/img/projects/8.jpg"
                 data-link="img/projects/8.jpg"
                 alt=""
                 data-caption="Image 8" />

            <img class="lightboxed col-md-4 col-sm-6 col-6"
                 rel="group1"
                 src="~/img/projects/9.jpg"
                 data-link="img/projects/9.jpg"
                 alt=""
                 data-caption="Image 9" />

            <img class="lightboxed col-md-4 col-sm-6 col-6"
                 rel="group1"
                 src="~/img/projects/10.jpg"
                 data-link="img/projects/10.jpg"
                 alt=""
                 data-caption="Image 10" />

            <img class="lightboxed col-md-4 col-sm-6 col-6"
                 rel="group1"
                 src="~/img/projects/11.jpg"
                 data-link="img/projects/11.jpg"
                 alt=""
                 data-caption="Image 11" />

            <img class="lightboxed col-md-4 col-sm-6 col-6"
                 rel="group1"
                 src="~/img/projects/12.jpg"
                 data-link="img/projects/12.jpg"
                 alt=""
                 data-caption="Image 12" />
        </div>


    </div>
</section>

