<section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>Services</h2>
            <p>Let's Plan or Host Your Event To Perfection</p>
        </div>

        <div class="row gy-4">
            <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="service-item  position-relative">
                    <div class="icon">
                        <i class="fa-solid fa-camera-retro"></i>
                    </div>
                    <h3>Event MC/Compere</h3>
                    <p>
                        Having to deal with people and create an environment that fits the occasion can be a whole lot but NOT with <span class="aunty-b">Aunty 'B' Compere.</span> She is a professional who has emceed all kinds of events in different parts of the world.
                    </p>
                    <a asp-page="/services/details" asp-route-id="1" class="readmore stretched-link">
                        Learn more <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
                <div class="service-item position-relative">
                    <div class="icon">
                        <i class="fa-solid fa-microscope"></i>
                    </div>
                    <h3>Alaga Iduro/Ijoko</h3>
                    <p>
                        <span class="fw-600">(African Traditional Weddings)</span> <br />
                        African traditional weddings are great due to the different aspects that they entail, such as alaga iduro/ijoko, aso ebi, groom prostration, eru iyawo packaging, dowry, and so on.
                    </p>
                    <a asp-page="/services/details" asp-route-id="2" class="readmore stretched-link">
                        Learn more <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="service-item position-relative">
                    <div class="icon">
                        <i class="fa-solid fa-user-astronaut"></i>
                    </div>
                    <h3>Clowning and Costuming</h3>
                    <p>
                        Clowns bring a lot of colour and fun to parades, community gatherings, and commercial efforts. Clowns interact with the audience by waving, performing antics, and personally engaging both children and adults.
                    </p>
                    <a asp-page="/services/details" asp-route-id="3" class="readmore stretched-link">
                        Learn more <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="service-item position-relative">
                    <div class="icon">
                        <i class="fa-solid fa-mountain-city"></i>
                    </div>
                    <h3>Trainings</h3>
                    <p>
                        Public speaking can make or break your career. It can also help you get ahead in life if done properly. <span class="aunty-b">Aunty 'B'</span> has been training people from all walks of life in public speaking for over 15 years and has helped them achieve their goals through this skill.
                    </p>
                    <a asp-page="/services/details" asp-route-id="4" class="readmore stretched-link">
                        Learn more <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div><!-- End Service Item -->
        </div>

    </div>
</section>