@page
@model AuntyBCompere.Pages.GalleryModel
@{
    ViewData["Title"] = "Gallery";
    ViewData["page-name"] = "gallery";
}

<link rel="stylesheet" href="~/css/gallery.css" />
<link rel="stylesheet" href="~/lib/simple-lightbox/dist/simple-lightbox.min.css" />

<style>
    .gallery a {
        overflow: hidden;
    }

    .gallery img {
        object-fit: cover;
        border: 2px solid #fff;
        width: 100%;
        max-height: 300px;
        min-height: 300px;
        position: relative;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
        transition: transform .5s ease;
    }

    .gallery img:hover {
            transform: scale(1.5);
    }
</style>

<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs d-flex align-items-center" style="background-image: url('img/breadcrumbs-bg.jpg');">
    <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>Gallery</h2>
        <ol>
            <li><a href="/">Home</a></li>
            <li>Gallery</li>
        </ol>

    </div>
</div>
<!-- End Breadcrumbs -->

<section id="gallery" class="gallery features">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>Exclusive Events by Aunty 'B' Compere</h2>
            <p>
                Feed your eyes with some goodness as you slide through our works. Let the pictures do the talking.
            </p>
        </div>

        <ul class="nav nav-tabs row g-2 d-flex">

            <li class="nav-item col-md-4 col-sm-2 col-6 mt-3">
                <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#tab-all">
                    <h4>All</h4>
                </a>
            </li><!-- End tab nav item -->

            <li class="nav-item col-md-4 col-sm-2 col-6 mt-3">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-1">
                    <h4>Event MC/Compere</h4>
                </a>
            </li><!-- End tab nav item -->

            <li class="nav-item col-md-4 col-sm-2 col-6 mt-3">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-10">
                    <h4>Wedding Officiant</h4>
                </a>
            </li><!-- End tab nav item -->

            <li class="nav-item col-md-4 col-sm-2 col-6 mt-3">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2">
                    <h4>Alaga Iduro/Ijoko</h4>
                </a><!-- End tab nav item -->

            <li class="nav-item col-md-4 col-sm-2 col-6 mt-3">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-3">
                    <h4>Clowning and Costuming</h4>
                </a>
            </li><!-- End tab nav item -->

            <li class="nav-item col-md-4 col-sm-2 col-6 mt-3">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-4">
                    <h4>Trainings</h4>
                </a>
            </li><!-- End tab nav item -->

        </ul>

        <div class="tab-content">

            <div class="tab-pane active show" id="tab-all">
                <div class="gallery gallery-all row">
                    @foreach (var imgSrc in Model.AlagaIduro)
                    {
                        <a href="~/@imgSrc" class="col-md-4 col-sm-6 col-6 p-0">
                            <img alt="" src="img/loading.gif" onload="this.onload=null;this.src='@imgSrc'" />
                        </a>
                    }
                    @foreach(var imgSrc in Model.MCCompere)
                    {
                        <a href="@imgSrc" class="col-md-4 col-sm-6 col-6 p-0">
                            <img alt="" src="img/loading.gif" onload="this.onload=null;this.src='@imgSrc'" />
                        </a>
                    }
                    @foreach (var imgSrc in Model.WeddingOfficiant)
                    {
                        <a href="~/@imgSrc" class="col-md-4 col-sm-6 col-6 p-0">
                            <img alt="" src="img/loading.gif" onload="this.onload=null;this.src='@imgSrc'" />
                        </a>
                    }
                    @foreach (var imgSrc in Model.Clown)
                    {
                        <a href="~/@imgSrc" class="col-md-4 col-sm-6 col-6 p-0">
                            <img alt="" src="img/loading.gif" onload="this.onload=null;this.src='@imgSrc'" />
                        </a>
                    }
                    @foreach (var imgSrc in Model.Training)
                    {
                        <a href="~/@imgSrc" class="col-md-4 col-sm-6 col-6 p-0">
                            <img alt="" src="img/loading.gif" onload="this.onload=null;this.src='@imgSrc'" />
                        </a>
                    }
                </div>  
            </div>

            <div class="tab-pane" id="tab-1">
                <div class="gallery gallery-1 row">
                    @foreach(var imgSrc in Model.MCCompere)
                    {
                        <a href="~/@imgSrc" class="col-md-4 col-sm-6 col-6 p-0">
                            <img alt="" src="img/loading.gif" onload="this.onload=null;this.src='@imgSrc'" />
                        </a>
                    }
                </div>  
            </div>

            <div class="tab-pane" id="tab-10">
                <div class="gallery gallery-10 row">
                    @foreach (var imgSrc in Model.WeddingOfficiant)
                    {
                        <a href="~/@imgSrc" class="col-md-4 col-sm-6 col-6 p-0">
                            <img alt="" src="img/loading.gif" onload="this.onload=null;this.src='@imgSrc'" />
                        </a>
                    }
                </div>  
            </div>

            <div class="tab-pane" id="tab-2">
                <div class="gallery gallery-2 row">
                    @foreach (var imgSrc in Model.AlagaIduro)
                    {
                        <a href="~/@imgSrc" class="col-md-4 col-sm-6 col-6 p-0">
                            <img alt="" src="img/loading.gif" onload="this.onload=null;this.src='@imgSrc'" />
                        </a>
                    }
                </div>
            </div>

            <div class="tab-pane" id="tab-3">
                <div class="gallery gallery-3 row">
                    @foreach (var imgSrc in Model.Clown)
                    {
                        <a href="~/@imgSrc" class="col-md-4 col-sm-6 col-6 p-0">
                            <img alt="" src="img/loading.gif" onload="this.onload=null;this.src='@imgSrc'" />
                        </a>
                    }
                </div>
            </div>

            <div class="tab-pane" id="tab-4">
                <div class="gallery gallery-4 row">
                    @foreach (var imgSrc in Model.Training)
                    {
                        <a href="~/@imgSrc" class="col-md-4 col-sm-6 col-6 p-0">
                            <img alt="" src="img/loading.gif" onload="this.onload=null;this.src='@imgSrc'" />
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/lib/simple-lightbox/dist/simple-lightbox.min.js"></script>
    <script src="~/lib/simple-lightbox/dist/simple-lightbox.jquery.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var galleryAll = $('.gallery-all a').simpleLightbox({
                spinner: true
            });
            var gallery1 = $('.gallery-1 a').simpleLightbox({
                spinner: true
            });
            var gallery1 = $('.gallery-10 a').simpleLightbox({
                spinner: true
            });
            var gallery2 = $('.gallery-2 a').simpleLightbox({
                spinner: true
            });
            var gallery3 = $('.gallery-3 a').simpleLightbox({
                spinner: true
            });
            var gallery4 = $('.gallery-4 a').simpleLightbox({
                spinner: true
            });
        });
    </script>
}